<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<footer th:fragment="footer" class="footer">
    <div class="container footer-inner">
        <div class="footer-left">
            <img th:src="@{/images/logo.png}" alt="Anielski Salonik" height="40">
            <span>© 2025 Anielski Salonik. Wszystkie prawa zastrzeżone.</span>
        </div>
        <div class="footer-right">
            <a href="tel:539916720">539 916 720</a>
            <a href="https://facebook.com/anielskisalonik" target="_blank">Facebook</a>
            <i data-lucide="paw-print"></i>
        </div>
    </div>
</footer>

</body>
</html>