.map-section {
    padding: 80px 0 0 0;
    background-color: var(--background);
    text-align: center;
}

.map-wrapper {
    margin-top: 40px;
    border-radius: 20px;
    overflow: hidden;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 30px rgba(0,0,0,0.08);
    margin-bottom: 80px;
}

/* NOWE: Dopasowanie wysokości mapy na telefonach */
@media (max-width: 768px) {
    .map-wrapper iframe {
        height: 300px; /* Nieco mniejsza mapa na telefonie */
    }
}